/* 	RNV Delay Style Sheet 
	Beginner's Practical SS2021 by Raeesa Yousaf
	supervised by Dennis Aumiller and Philip Hausner */

.header {
	text-align: center;
	font-size: 25px;
	background-color:#f2f3f4; 
	color:#00254c;
}


.searchbar {
	position: absolute;
	top: 150px;
	left: 600px;
}


/* frame around map */
.frame1 {
	position: absolute;
	left: 50px;
	top: 220px;
	width: 45%;
	height: 60%;
	/* border: 1px solid black;
	margin: auto;
	padding: 15px 10px; */
}


/* informational text */
.frame2
 {
	position: absolute;
	left: 975px;
	top: 220px;
	width: 45%;
	height: 20%;
	/*border: 1px solid black;
	margin: auto;
	padding: 15px 10px; */
}


/* table showing information about chose route */
.frame3
 {
	position: absolute;
	left: 975px;
	top: 420px;
	width: 25%;
	height: 20%;
	/*border: 1px solid black;
	margin: auto;
	padding: 15px 10px; */
}


/* subheader leading to plots */
.subheader {
	position: relative;
	line-height:70px;
	top: 700px;
	text-align: center;
	font-size: 25px;
	background-color:#f2f3f4; 
	color:#00254c;
}


/* graphs showing distribution of delays */
.plot1 {
	position: absolute;
	left: 50px;
	top: 960px;
	width: 45%;
	height: 45%;
	border: 1px solid black;
	margin: auto;
	padding: 15px 10px;
}


.plot2 {
	position: absolute;
	left: 950px;
	top: 960px;
	width: 45%;
	height: 45%;
	border: 1px solid black;
	margin: auto;
	padding: 15px 10px;
}


/* graphs showing hourly delays */
.plot3 {
	position: absolute;
	left: 50px;
	top: 1410px;
	width: 45%;
	height: 45%;
	border: 1px solid black;
	margin: auto;
	padding: 15px 10px;
}


.plot4 {
	position: absolute;
	left: 950px;
	top: 1410px;
	width: 45%;
	height: 45%;
	border: 1px solid black;
	margin: auto;
	padding: 15px 10px;
}


.footer {
	position: absolute;
	top: 1900px;
	text-align: right-side;
}